@{
    ViewBag.Title = "InfoSites";
}
    <link href="~/Images/bootstrap-cyborg.css" rel="stylesheet" />
<h2>Info Sites</h2>


<p>
    <a href="https://www.rainn.org/">RAINN: Natioin's Largest Anti-Sexual Violance Network</a>
</p>
<p>
    <a href="https://www.helpguide.org/articles/ptsd-trauma/recovering-from-rape-and-sexual-trauma.htm">Recovering from Rape and Sexual Trauma</a>
</p>

<p>
    <a href="https://www.csbsju.edu/chp/sexual-assault-survivors-guide">Sexual Assault Survivors Guide</a>
    
</p>



