@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <link href="~/Images/bootstrap-cyborg.css" rel="stylesheet" />
        <h1><img src="~/Images/SARibbon.jpg" />YOU ARE NOT ALONE!</h1>
        <p class="lead">YOU ARE NOT ALONE is a website that can help a SURVIVOR of sexual assault find and reach out for the help they may need.</p>
    </div>

<div class="row">
    <div class="col-md-4">
        
        <h2>Getting started</h2>
        <p>
            Click register in the upper right hand corner of the window. You will be prompted to Enter your Email, User Name, password and User Role, which should be Survivor. The next page will prompt you to enter your First and Last name, your email, and an emergency contact number.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>What this site offers</h2>
        <p>This site comese with a variety of features. A Survivor is able to record an incident of sexual assault, Send an automated Text Message to the Emeregency Contact Number, Have access to a private journal that only the Survivor can see, Post a Survivor Story to a message board to allow other Users to see their story anonymously, Find different organizations that can help with reporting a sexual assault as well as get physical and mental health treatment and Find online resources that explain the experience of sexual assault and how manage your experience after a sexual assault.</p>        
    </div>
    <div class="col-md-4">
        <h2>Features Coming Soon</h2>
        <p>YOU ARE NOT ALONE  will be implementing the ability to show a map of places that a Survivor can go to recieve help after a sexual assault and be given directions to those locations. Survivors will also be able to connect with other Survivors as a sponsor to help someone who is going through the process of managing their sexual assault.</p>        
    </div>
    <script src='https://cdn.jsdelivr.net/gh/dleetinc/sanesartcounter/sane-sart-counter.js'></script>
</div>